
.hidden {
  display: none;
}

.pwin {
  color: #32CD32;
}

.cwin {
  color: red;
}

#app{

}

body{
  background-image: url("felt.jpg");
}
.main_div{

}
.main_header{
  text-align: center;
  font-size: 80px;
  color: white;
  margin: 60px 0px 20px 0px
}
.subheader{
  text-align: center;
  font-size: 35px;
  color: red;
  margin: 10px 0px 10px 0px
}
.felt_table{
  text-align: center;
}
.battle_button{
  text-align: center;
}
.render_div{

}
